.container{
    display: flex;
    border:2px solid gray;
    height: 45vh;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* align-items: flex-end;
    align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: column wrap; */
    
}


.fitem{
    background-color: red;
    border: 2px solid black;
    margin :12px;
    /* padding: 12px; */
    width:122px;
    height:122px;
}

.item1{
    order:2;
    align-self: center;
}
.item2{
    order:4;
}
.item3{
    order:3;
    /* flex-grow:2; */
    /* flex-shrink:2;   
    while shrinking dimension this item will shrink most` */
}